################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MO_libraries/Projects/Enums/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
